{%extends 'base.html'%}

{% block content %}

{{block.super}}

<div class="">

        <!-- Looping through image   -->
        <div class="container-fluid">
          
            <div class="grid">
              <div class="grid-sizer"></div>
                {% for x in images %}
                <img src ="{{ x.Image.url }}" class="img-fluid" alt="Responsive image">
                <p class="lead">{{x.caption}}</p><hr>
                {% endfor %}
              </div>          
            </div>
          
       
                    <!-- Modal starts here -->
          {% for image_item in images %}
    <div class="modal fade" id="img{{image_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {% comment %} <h5 class="modal-title pt-2 mt-2" id="exampleModal3Label">{{ image_item.image_name }}</h5> {% endcomment %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">         
                    
                <figure class="">
                  <img class="img-fluid" src="{{image_item.image_file.url}}"></a>
                    <figcaption>
                        <!-- Image title -->
                        <h3><a class="font-weight-bold mb-3 black-text" href="/Image/{{image_item.id}}">{{ image_item.image_name }}</a></h3>
                        <!-- Excerpt -->
                        <p class="dark-grey-text">{{ image_item.description }}</p>
                        <!-- Image data -->
                        <p>Posted: {{image_item.pub_date|timesince}} today, <br> Location: <a href="/location/{{image_item.location}}"> {{ image_item.location }} </a> <br>
                           <span> Category: <a href="/category/{{image_item.category}}"> {{ image_item.category}} </a></span>
                        </p>

                  </figcaption>
                </figure>
              </div>
        </div>
      </div>
    </div>
    {% endfor %}
  
  </div>


{% endblock %}



